{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}

        {% endblock title %}
    </title>
</head>
<body>
    <div class="nav">
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            {% if not loggedIn %}
            <li><a href="{% url 'signUp' %}">Register</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
            {% if loggedIn %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% endif %}
        </ul>
    </div>
    {% block body %}

    {% endblock body %}
</body>
</html>